{
	email alexborrazasm@gmail.com
}

*.alexborrazasm.dev {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	
	@hello host hello.alexborrazasm.dev
	handle @hello {
		respond "hello"
	}

	handle {
		respond "ok"
	}
}
