{
	email alexborrazasm@gmail.com
}

ping.alexborrazasm.dev {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	respond "pong"
}

*.alexborrazasm.dev {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}
	respond "ok"
}
