{
	email {$EMAIL}
	auto_https disable_redirects
}

(remove-headers) {
	header -Server
	header -Via
	header -X-Powered-By
}

http:// {
	import remove-headers

	redir https://{host}{uri} permanent
}

*.alexborrazasm.dev {
	import remove-headers

	tls {
		dns cloudflare {env.CF_API_TOKEN}
	}

	@svc1 host {$DOM1}
	handle @svc1 {
		reverse_proxy {$UPSTREAM1}
	}

	handle {
		abort
	}
}
